html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* <div class="features">
                <div class="content">
                    <div class="body-4">
                        <div class="features-title fat-1">
                            <strong class="features-1"
                                >Take the next step toward your personal and
                                professional goals with Lesson.</strong
                            >
                            <p class="features-2">
                                Take the next step toward. Join now to receive
                                personalized and more recommendations from the
                                full Coursera catalog.
                            </p>

                            <a href="#!" class="btn features-btn">Join Now</a>
                        </div>
                        <div class="features-bg">
                            <img
                                src="./assets/img/features-img2png.png"
                                alt="Learner outcomes through our awesome platform"
                                class="img-features-2 fat-2"
                            />
                        </div>
                    </div>
                </div>
            </div> */